<div id="splash-page">
  <div>
    <img id="splash-logo" src="/images/machinelogo.svg" alt="Logo for the machine">
    <h1 id="splash-text">Click the arrows or scroll up and down to navigate <span>TheMachine.</span></h1>
    <a id="enter-machine">
      <span class="text">Enter</span>
      <span class="line -right"></span>
      <span class="line -top"></span>
      <span class="line -left"></span>
      <span class="line -bottom"></span>
    </a>
  </div>
</div>
<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          <img src="/images/machinelogowhite.png" id="altLogo" alt="Logo for the Machine">
        </a>
      </li>
      <li data-menuanchor="home" class="side-anchor" style="margin-top: 50%;"><a href="#home">Home</a></li>
      <li data-menuanchor="about" class="side-anchor"><a href="#about">About</a></li>
      <li data-menuanchor="humans" class="side-anchor"><a href="#humans">Humans</a></li>
      <li class="side-anchor" data-menuanchor="page5"><a href="#contact">Contact</a></li>
      <li class="side-anchor" data-menuanchor="theark"><a href="#theark">TheArk</a></li>
      {{!-- <li data-menuanchor="page4" class="side-anchor"><a href="#page4">Portfolio</a></li> --}}
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->
</div>
<div class="svg-wrap">
  <svg width="64" height="64" viewBox="0 0 64 64">
    <path id="arrow-left-5" d="M48 10.667q1.104 0 1.885 0.781t0.781 1.885-0.792 1.896l-16.771 16.771 16.771 16.771q0.792 0.792 0.792 1.896t-0.781 1.885-1.885 0.781q-1.125 0-1.896-0.771l-18.667-18.667q-0.771-0.771-0.771-1.896t0.771-1.896l18.667-18.667q0.771-0.771 1.896-0.771zM32 10.667q1.104 0 1.885 0.781t0.781 1.885-0.792 1.896l-16.771 16.771 16.771 16.771q0.792 0.792 0.792 1.896t-0.781 1.885-1.885 0.781q-1.125 0-1.896-0.771l-18.667-18.667q-0.771-0.771-0.771-1.896t0.771-1.896l18.667-18.667q0.771-0.771 1.896-0.771z" />
  </svg>
  <svg width="64" height="64" viewBox="0 0 64 64">
    <path id="arrow-right-5" d="M29.333 10.667q1.104 0 1.875 0.771l18.667 18.667q0.792 0.792 0.792 1.896t-0.792 1.896l-18.667 18.667q-0.771 0.771-1.875 0.771t-1.885-0.781-0.781-1.885q0-1.125 0.771-1.896l16.771-16.771-16.771-16.771q-0.771-0.771-0.771-1.896 0-1.146 0.76-1.906t1.906-0.76zM13.333 10.667q1.104 0 1.875 0.771l18.667 18.667q0.792 0.792 0.792 1.896t-0.792 1.896l-18.667 18.667q-0.771 0.771-1.875 0.771t-1.885-0.781-0.781-1.885q0-1.125 0.771-1.896l16.771-16.771-16.771-16.771q-0.771-0.771-0.771-1.896 0-1.146 0.76-1.906t1.906-0.76z" />
  </svg>
</div>

<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div id="menu-button">
      <a href="#menu-toggle" id="menu-toggle">
        <div id="hamburger">
          <span class="menu"></span>
          <span class="menu"></span>
          <span class="menu"></span>
        </div>
        <div id="cross">
          <span class="menu"></span>
          <span class="menu"></span>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->

<ul id="menu">
  <a href="#home"><img src="/images/machinelogo.png" alt="Logo for the Machine"></a>
  <li data-menuanchor="home" class="active" style="margin-left:20%;"><a href="#home" style="padding-left:10%;">Home</a></li>
  <li data-menuanchor="about"><a href="#about">About</a></li>
  <li data-menuanchor="humans"><a href="#humans">Humans</a></li>
  <li data-menuanchor="contact"><a href="#contact">Contact</a></li>
  <li data-menuanchor="theark"><a href="#theark">TheArk</a></li>
  {{!--   <li data-menuanchor="page4"><a href="#page4">Portfolio</a></li> --}}
</ul>
<!-- Page Content -->
<!-- /#page-content-wrapper -->
<div class="container">
  <button class="arrow" id="rightArrow"><span><svg fill="#D3D3D3" class="icon" width="32" height="32" viewBox="0 0 64 64"><use xlink:href="#arrow-right-5"></svg></span></button>
  <button class="arrow" id="leftArrow"><span><svg fill="#D3D3D3" class="icon" width="32" height="32" viewBox="0 0 64 64"><use xlink:href="#arrow-left-5"></svg></span></button>
</div>
<div class="container" id="footer">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ul>
        <a href="#contact">
          <li>Contact TheMachine</li>
        </a>
      </ul>
    </div>
  </div>
</div>
<div id="pagepiling">
  <div class="section pp-scrollable" id="section1">
    <div id="intro">
      <iframe src="https://player.vimeo.com/video/197622894" width="560" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <div class="layer">
        <h1 class="line-1 anim-typewriter">welcome to. TheMachine.</h1>
      </div>
    </div>
  </div>
  <div class="section" id="section2">
    <div class="content">
      <div class="topText">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <h1>TheMachine</h1>
            <p id="about">a <strong>Management, Advertising</strong>, & <strong>Production</strong> firm focused on the creation of <strong>Consumer Valued Content</strong> through our work w/ emerging <strong>talent, tech</strong> & <strong>platforms.</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section pp-scrollable" id="section3">
    <div class="content">
      <div class="topText">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">


          </div>
        </div>
      </div>
      <div class="bottomText">
        <div class="row">

          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="circle">
              <img src="/images/heads/KevinHerrera_Head.png" alt="">
            </div>
            <h4 class="text-center">KEVIN HERRERA <span class="founder"><br>FOUNDER<br>CEO</span></h4>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="circle">
              <img src="/images/heads/AaronJudovits_Head.png" alt="">
            </div>
            <h4 class="text-center">AARON JUDOVITS <span class="founder"><br> FOUNDER<br>CFO</span></h4>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="circle">
              <img src="/images/heads/RawnErickson_Head.png" alt="">
            </div>
            <h4 class="text-center">RAWN ERICKSON II <span class="founder"><br> FOUNDER<br>PRESIDENT</span></h4>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="circle">
              <img src="/images/heads/DianaJudovits_Head.png" alt="">
            </div>
            <h4 class="text-center">DIANA JUDOVITS<br><span class="founder">FOUNDER<br>CSO</span></h4>
          </div>
          <div class="col-xs-12 col-sm-12">
            <div class="bar">
              <ul>
                <li>what</li>
                <li>what</li>
                <li>what</li>
                <li>what</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section pp-scrollable" id="section5">
    <div class="content">
      <div class="header">
        <h3>Contact Us</h3>
      </div>
      <div class="col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="cform" id="contact-form">
          <div id="errormessage"></div>
          <form id="contactForm" action="/send" method="post" class="form-horizontal">
            <div class="form-group">
              <label for="name" class="col-md-3 control-label col-sm-2 col-xs-2">Full Name</label>
              <div class="col-md-9 col-lg-7 col-sm-8 col-xs-9">
                <input placeholder="Your name" type="text" class="form-control" id="name" name="name" />
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-md-3 control-label col-sm-2 col-xs-2">Email</label>
              <div class="col-md-9 col-lg-7 col-sm-8 col-xs-9">
                <input type="email" id="email" class="form-control" name="email" placeholder="Your Email" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label col-sm-2 col-xs-2">Subject</label>
              <div class="col-md-9 col-lg-7 col-sm-8 col-xs-9">
                <input id="subject" type="text" class="form-control" name="subject" placeholder="Subject of E-Mail" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label col-sm-2 col-xs-2" id="content-label">Content</label>
              <div class="col-md-9 col-lg-7 col-sm-8 col-xs-9">
                <textarea id="content" class="form-control" name="content" rows="5"></textarea>
              </div>
            </div>
            <!-- #messages is where the messages are placed inside -->
            <div class="form-group">
              <div class="col-md-9 col-md-offset-3">
                <div id="messages"></div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-3 col-lg-offset-3 col-md-9 col- col-md-offset-3 col-sm-offset-2 col-sm-9 col-xs-offset-2 col-xs-3">
                <button type="submit" class="btn btn-theme">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="section pp-scrollable" id="section6">
    <div class="content">
      <div class="newSection">
        <div class="header">
          <h1>TheArk</h1>

        </div>
        <div class="scrolldown-container" id="arkscroll">
          <div class="scrolldown-btn">
            <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="80px" viewbox="0 0 50 80" enable-background="new 0 0 50 80" xml:space="preserve">
      <path class="first-path" fill="#FFFFFF" d="M24.752,79.182c-0.397,0-0.752-0.154-1.06-0.463L2.207,57.234c-0.306-0.305-0.458-0.656-0.458-1.057                  s0.152-0.752,0.458-1.059l2.305-2.305c0.309-0.309,0.663-0.461,1.06-0.461c0.398,0,0.752,0.152,1.061,0.461l18.119,18.119                  l18.122-18.119c0.306-0.309,0.657-0.461,1.057-0.461c0.402,0,0.753,0.152,1.059,0.461l2.306,2.305                  c0.308,0.307,0.461,0.658,0.461,1.059s-0.153,0.752-0.461,1.057L25.813,78.719C25.504,79.027,25.15,79.182,24.752,79.182z"></path>
      <path class="second-path" fill="#FFFFFF" d="M24.752,58.25c-0.397,0-0.752-0.154-1.06-0.463L2.207,36.303c-0.306-0.304-0.458-0.655-0.458-1.057                  c0-0.4,0.152-0.752,0.458-1.058l2.305-2.305c0.309-0.308,0.663-0.461,1.06-0.461c0.398,0,0.752,0.153,1.061,0.461l18.119,18.12                  l18.122-18.12c0.306-0.308,0.657-0.461,1.057-0.461c0.402,0,0.753,0.153,1.059,0.461l2.306,2.305                  c0.308,0.306,0.461,0.657,0.461,1.058c0,0.401-0.153,0.753-0.461,1.057L25.813,57.787C25.504,58.096,25.15,58.25,24.752,58.25z"></path>
    </svg>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8">
            <div class="box">
              <p class="split message">Whether your goal is Reach, Earned Media, Impressions, Click-Through, Organic Shares, Audience Retention or all of the above TheArk is your one stop shop for your social media marketing needs.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="newSection" id="page2">
        <div class="row">
          <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8">
            <p id="quote">Through our Talent relationships, we’ll help you reach your desired audience by carefully selecting the right fit for your messaging and brand, our Producer team will help you develop award nominated content, and we’ll execute said content
              for you through collaborations with our Member Companies, Directors and Showrunners.</p>
          </div>
        </div>
      </div>
      <div class="newSection">
        <div class="row">
          <div class="col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3><span id="brand">TheArk,</span> Hop on.</h3>
            <h6 class="float">The Content is Rising</h6>
          </div>
        </div>
        <form id="newsForm" action="/news" method="post" class="form-horizontal">
          <div class="col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="cform">
              <div id="errormessage"></div>
              <div class="form-group">
                <label for="newsEmail" class="col-md-3 control-label col-sm-2 col-xs-2">Email</label>
                <div class="col-md-9 col-lg-7 col-sm-8 col-xs-9">
                  <input type="email" id="newsEmail" class="form-control" name="email" placeholder="Your Email" />
                </div>
                <button type="submit" name="submit" class="fill">SEND</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
