@import url('https://fonts.googleapis.com/css?family=Montaga|Montserrat:600');
body {
  font-family: sans-serif, arial, helvetica;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

p {
  font-family: 'Montserrat';
}

h1 {
  font-family: 'Montserrat';
}


/* Centered texts in each section
* --------------------------------------- */

.section {
  text-align: center;
}

#section1 h1 {
  color: black;
  margin-top: 6%;
  margin-bottom: 2%;
}

#pp-nav {
  display: none;
}


/* Menu
 * --------------------------------------- */

iframe {
  margin-top: 9%;
  height: 40%;
  width: 60%;
}

ul#menu li {
  font-family: 'Montserrat';
  color: #000;
  background: #fff;
  background: rgba(255, 255, 255, 0.0);
  margin-top: 7.7%;
  margin-left: 4%;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  text-decoration: none;
}

#menu li.active {
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFB6C7;
}

#menu li a {
  text-decoration: none;
  color: #000;
}

#menu li.active a:hover {
  color: grey;
  background: none;
}

#menu li:hover {
  background-color: #FFF;
  color: white;
}

#menu li a, #menu li.active a {
  padding: 0px 18px;
  display: block;
}

#menu li.active a {
  color: black;
}

img {
  position: absolute;
  width: 11%;
  top: 6px;
  left: 7px;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0px;
}


/*#cross {
  padding:15%;
}*/


/* Sections
	* --------------------------------------- */

.section {
  background: white;
}

#section1 {
  background-color: white;
}

.half-width {
  height: 100%;
  width: 50%;
  float: right;
}

#section4 .content {
  top: 100%;
  position: absolute;
  left: 0;
}


/* Arrow
--------------------------------------- */

button#rightArrow {
  right: -10px;
}

button#leftArrow {
  left: -10px;
}

button.arrow {
  text-align: center;
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: 100px;
  height: 100px;
  z-index: 100;
  border: 0;
  color: #BBB;
  background: transparent;
  -moz-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
  -o-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
  -webkit-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
  transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
  font: 36px Heiti, 'Lucida Grande', Arial;
  font-weight: bold;
}

.arrow span {
  display: inline-block;
  position: relative;
  left: -10px;
  -moz-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
  -o-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
  transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
}

.arrow:hover {
  background: #FFB6C7;
}

#leftArrow:hover span {
  left: -20px;
  color: #FFF;
}

#rightArrow:hover span {
  left: 10px;
  color: #FFF;
}


/* Footer
--------------------------------------- */

#footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 10;
}

#footer li {
  display: inline-block;
  font-family: 'Montserrat';
}


/* Intro texts
	 * --------------------------------------- */

.intro {
  position: relative;
  bottom: 0px;
  text-align: center;
  width: 100%;
}

.intro h1 {
  font-size: 5em;
  font-weight: bold;
  color: #000;
}

#section4 .intro {
  color: #000;
}


/* Content page
	 * --------------------------------------- */

.header {
  padding-top: 10%;
  text-align: center;
}

.header h1 {
  font-size: 5em;
  font-weight: bold;
  color: #fff;
}

.header p {
  color: #f2f2f2;
  font-size: 1.7em;
}

.page {
  width: 80%;
  margin: 60px auto;
  background: white;
  padding: 60px;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box;
}

.page p {
  font-style: 12px;
  margin: 20px 0 0 0;
  line-height: 1.35em;
  color: #333;
}


/* Global */

.line-1 {
  position: relative;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, .75);
  font-size: 150%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}


/* Animation */

.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 600ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 15em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }
  to {
    border-right-color: gray;
  }
}

.content {
  height: 100%;
  text-align: left;
}

.topText {
  padding-top: 17%;
  padding-left: 5%;
}

#section2 {
  padding-top: 7%;
  padding-left: 5%;
}

#section3 {
  padding-top: 2%;
  padding-right: 3%;
  padding-left: 3%;
}

div.bar {
  background: white;
  color: white;
}

.bottomText p {
  padding-top: 10%;
  font-family: 'Montaga';
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.7vw;
}

.circle {
  border-radius: 200px;
  width: 100%;
  padding-top: 10%;
  display: table;
}

.circle img {
  position: relative;
  width: 30%;
  border-radius: 50%;
  margin-left: 30%;
}

h4.text-center {
  font-size: 2vw;
  margin-top: 13%;
  font-family: 'Montaga';
}

#founder {
  font-size: 2.8vw;
}


/*  CONTACT PAGE */

#section5 h3 {
  font-family: 'Montserrat';
  margin-bottom: 6%;
}

input.form-control {
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0px;
  box-shadow: none;
}

label.control-label {
  font-family: 'Montserrat';
  text-align: left;
}

small.help-block {
  font-family: 'Montaga';
}

#content-label {
  font-size: small;
}
/* ---- grid ---- */

.grid {
  background: #EEE;
  max-width: 1200px;
}


/* clearfix */

.grid:after {
  content: '';
  display: block;
  clear: both;
}


/* ---- grid-item ---- */

.grid-item {
  width: 160px;
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 {
  width: 320px;
}

.grid-item--width3 {
  width: 480px;
}

.grid-item--width4 {
  width: 720px;
}

.grid-item--height2 {
  height: 200px;
}

.grid-item--height3 {
  height: 260px;
}

.grid-item--height4 {
  height: 360px;
}


/* ---- static-banner ---- */

.static-banner {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 10px 30px;
  color: white;
  background: #A2C;
  font-size: 22px;
  z-index: 2;
  /* above items */
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  display: block;
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  text-transform: uppercase;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

button.btn.btn-theme {
    background: black;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 7px;
    box-shadow: 0 5px darkslategrey;
    padding: 10px 16px 10px 16px;
}

button.btn.btn-theme:active {
    background: darkslategrey;
}

button.btn.btn-theme:disabled {
    background: darkslategrey;
    box-shadow: 0px 0px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: #FFB6C7;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 0px;
    position: absolute;
    z-index: 10;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}


/*
    CSS for sidebar icon on smaller screens
*/

span.menu {
  display: block;
  background: #566973;
  border-radius: 2px;
}

#menu-button {
  z-index: 90;
  width: 100px;
  margin: 0px 80%;
  height: 100px;
  position: relative;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

#menu-button:hover {
  background: rgba(255, 255, 255, 0.8);
}

#menu-button #hamburger {
  position: absolute;
  height: 100%;
  width: 100%;
}

#menu-button #hamburger span {
  width: 60px;
  height: 4px;
  position: relative;
  top: 24px;
  left: 20px;
  margin: 10px 0;
}

#menu-button #hamburger span:nth-child(1) {
  transition-delay: .5s;
}

#menu-button #hamburger span:nth-child(2) {
  transition-delay: .625s;
}

#menu-button #hamburger span:nth-child(3) {
  transition-delay: .75s;
}

#menu-button #cross {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
}

#menu-button #cross span:nth-child(1) {
  height: 0%;
  width: 4px;
  position: absolute;
  top: 10%;
  left: 48px;
  transition-delay: 0s;
}

#menu-button #cross span:nth-child(2) {
  width: 0%;
  height: 4px;
  position: absolute;
  left: 10%;
  top: 48px;
  transition-delay: .25s;
}

#menu-button.open #hamburger span {
  width: 0%;
}

#menu-button.open #hamburger span:nth-child(1) {
  transition-delay: 0s;
}

#menu-button.open #hamburger span:nth-child(2) {
  transition-delay: .125s;
}

#menu-button.open #hamburger span:nth-child(3) {
  transition-delay: .25s;
}

#menu-button.open #cross span:nth-child(1) {
  height: 80%;
  transition-delay: .625s;
}

#menu-button.open #cross span:nth-child(2) {
  width: 80%;
  transition-delay: .375s;
}

#altLogo {
  width: 60%;
  margin: 0px 20%;
}

.side-anchor {
  font-family: 'Montserrat';
  text-align: center;
}


/*// Small screens*/

@media only screen {
  /* Define mobile styles */

  button#rightArrow {
    right: -10px;
    width: 53px;
  }

  #rightArrow span {
    left: 0px;
  }
  #section1, #section2, #section3 {
    background-image: none;
  }
  ul#menu li {
    display: none;
  }
  div#page-content-wrapper {
    display: block;
  }
  #footer {
    background-color: #fff;
  }
  <<<<<<< HEAD=======#footer .row div ul {
    padding-left: 0;
  }
  >>>>>>>b90ebf90f72256755bcafc49552c31320d471f8d #menu-button {
    margin: -10% 70%;
  }
  #menu-button #cross {
    <<<<<<< HEAD position: absolute;
    height: 50%;
    width: 50%;
    transform: rotate(45deg);
  }
  #menu-button #cross span:nth-child(1) {
    height: 0%;
    width: 2px;
    position: absolute;
    top: 10%;
    left: 80px;
    transition-delay: 0s;
  }
  #menu-button #cross span:nth-child(2) {
    width: 0%;
    height: 2px;
    position: absolute;
    left: 60px;
    top: 25px;
    transition-delay: .25s;
  }
  #menu-button #hamburger span {
    width: 30px;
    height: 2px;
    position: relative;
    top: 24px;
    left: 50px;
    margin: 10px 0;
  }
  =======height: 50%;
  width: 50%;
}

#menu-button #cross span:nth-child(1) {
  width: 2px;
  left: 80px;
}

#menu-button #cross span:nth-child(2) {
  height: 2px;
  left: 60px;
  top: 25px;
}

#menu-button #hamburger span {
  width: 30px;
  height: 2px;
  left: 50px;
}

>>>>>>>b90ebf90f72256755bcafc49552c31320d471f8d
}
@media only screen and (max-width: 40em) {
  .line-1 {
    font-size: 1.4em;
    <<<<<<< HEAD=======
  }

  button#rightArrow {
    width: 100px;
  }

  .circle {
    padding-top: 5%;
    >>>>>>>b90ebf90f72256755bcafc49552c31320d471f8d
  }

  #section1, #section2, #section3 {
    background-image: none;
  }

  ul#menu li {
    display: none;
  }

  div#page-content-wrapper {
    display: block;
  }

  #footer .row div ul {
    padding-left: 0;
  }
  /* max-width 640px, mobile-only styles, use when QAing mobile issues */
}

/*// Medium screens*/
@media only screen and (min-width: 40.063em) {
  button#rightArrow {
    width: 100px;
  }
  h1 .line1 .anim-typewriter {
    font-size: 1em;
  }

  #section1, #section2, #section3 {
    background-image: none;
  }

  button#rightArrow {
    width: 100px;
  }

  ul#menu li {
    display: none;
  }

  div#page-content-wrapper {
    display: block;
  }
  /* min-width 641px, medium screens */
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  #section1, #section2, #section3 {
    background-image: none;
  }

  ul#menu li {
    display: none;
  }

  div#page-content-wrapper {
    display: block;
  }

  button#rightArrow {
    width: 100px;
  }

  #menu-button {
    margin: 0% 80%;
  }
}
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/**/

/*// Large screens*/
@media only screen and (min-width: 64.063em) {
  #section1, #section2, #section3 {}

  ul#menu li {
    display: inline-block;
  }

  button#rightArrow {
    width: 100px;
  }

  div#page-content-wrapper {
    display: none;
  }
}
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  #section1, #section2, #section3 {}

  ul#menu li {
    display: inline-block;
  }

  button#rightArrow {
    width: 100px;
  }

  div#page-content-wrapper {
    display: none;
  }
}
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/*// XLarge screens*/
@media only screen and (min-width: 90.063em) {
  #section1, #section2, #section3 {}

  ul#menu li {
    display: inline-block;
  }

  div#page-content-wrapper {
    display: none;
  }

  button#rightArrow {
    width: 100px;
  }
}
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  #section1, #section2, #section3 {}

  ul#menu li {
    display: inline-block;
  }

  button#rightArrow {
    width: 100px;
  }

  div#page-content-wrapper {
    display: none;
  }
}
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/*// XXLarge screens*/
@media only screen and (min-width: 120.063em) {
  #section1, #section2, #section3 {}

  ul#menu li {
    display: inline-block;
  }

  div#page-content-wrapper {
    display: none;
  }

  button#rightArrow {
    width: 100px;
  }
}
/* min-width 1921px, xxlarge screens */
