@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');

* {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

div#splash-page {
  z-index: 10000;
  height: 100vh;
  position: absolute;
  background: white;
  width: 100%;
}

#splash-logo {
  position: relative;
  width: 50%;
  left: 25%;
}

div#splash-page div#arkscroll {
  top: 80%;
  position: relative;
}

h1 {
  font-weight: bold;
}

h1#splash-text {
  font-weight: 300;
  text-align: center;
  margin-top: 6%;
  animation-name: topFadeIn;
  animation-duration: 5s;
}

div#splash-page a {
  text-decoration: none;
  cursor: pointer;
  margin-top: 3%;
  top: 40rem;
  color: black;
  transform: translate3d(-50%, -50%, 0);
  padding: 0.7em calc(0.7em * 1.2);
  display: inline-block;
  border: 3px solid transparent;
  position: relative;
  font-size: 1.5em;
  letter-spacing: 0.07em;
}

div#splash-page a .text {
  font-family: 'Montserrat';
  transform: translate3d(0, 0.7em, 0);
  display: block;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
div#splash-page a:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: calc(0.7em * 1.2);
  right: calc(0.7em * 1.2);
  height: 3px;
  background: #f26522;
  z-index: -1;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}

div#splash-page .line {
  position: absolute;
  background: #f26522;
}
div#splash-page .line.-right, div#splash-page .line.-left {
  width: 3px;
  bottom: -3px;
  top: -3px;
  transform: scale3d(1, 0, 1);
}
div#splash-page .line.-top, div#splash-page .line.-bottom {
  height: 3px;
  left: -3px;
  right: -3px;
  transform: scale3d(0, 1, 1);
}
div#splash-page .line.-right {
  right: -3px;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transform-origin: top;
}
div#splash-page .line.-top {
  top: -3px;
  transition: transform 0.08s linear 0.43s;
  transform-origin: left;
}
div#splash-page .line.-left {
  left: -3px;
  transition: transform 0.08s linear 0.51s;
  transform-origin: bottom;
}
div#splash-page .line.-bottom {
  bottom: -3px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}

a:hover .text,
a:active .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
div#splash-page a:hover:after,
div#splash-page a:active:after {
  transform: scale3d(0, 1, 1);
  right: -3px;
  left: -3px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}
div#splash-page a:hover .line,
div#splash-page a:active .line {
  transform: scale3d(1, 1, 1);
}
div#splash-page a:hover .line.-right,
div#splash-page a:active .line.-right {
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  transform-origin: bottom;
}
div#splash-page a:hover .line.-top,
div#splash-page a:active .line.-top {
  transition: transform 0.08s linear 0.4s;
  transform-origin: right;
}
div#splash-page a:hover .line.-left,
div#splash-page a:active .line.-left {
  transition: transform 0.08s linear 0.48s;
  transform-origin: top;
}
div#splash-page a:hover .line.-bottom,
div#splash-page a:active .line.-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}


@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-o-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@keyframes topFadeIn {
  from {
    margin-top: 4%;
  }
  to {
    margin-top: 6%;
  }
}

.section {
  text-align: center;
}

#section1 h1 {
  color: black;
  margin-top: 6%;
  margin-bottom: 2%;
}

#pp-nav {
  display: none;
}


/* Menu
 * --------------------------------------- */

iframe {
  margin-top: 19%;
  height: 40%;
  width: 60%;
}

.svg-wrap {
  display: none;
}

ul#menu li {
  color: #000;
  font-weight: bold;
  background: #fff;
  background: rgba(255, 255, 255, 0.0);
  margin-top: 7.7%;
  margin-left: 4%;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  text-decoration: none;
}

#menu li.active {
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFB6C7;
}

#menu li a {
  text-decoration: none;
  color: #000;
  background: white;
}

#menu li.active a:hover {
  color: grey;
  background: none;
}

#menu li:hover {
  background-color: #FFF;
  color: white;
}

#menu li a, #menu li.active a {
  padding: 0px 18px;
  display: block;
}

#menu li.active a {
  color: black;
}

img {
  position: absolute;
  width: 11%;
  top: 25px;
  left: 27px;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0px;
}

/* Sections
	* --------------------------------------- */

.section {
  background: white;
}

#section1 {
  background-color: white;
}

.half-width {
  height: 100%;
  width: 50%;
  float: right;
}

#section4 .content {
  top: 100%;
  position: absolute;
  left: 0;
}

/* Arrow
--------------------------------------- */

button:focus {
  background: #FFB6C7;
  outline: none;
}

button:visited {
  background: #9BB8D3;
}

button#rightArrow {
  right: -10px;
}

button#leftArrow {
  left: -10px;
}

button.arrow {
  text-align: center;
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: 100px;
  height: 100px;
  z-index: 100;
  border: 0;
  color: #BBB;
  background: transparent;
  -moz-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
  -o-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
  -webkit-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
  transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
  font: 36px Heiti, 'Lucida Grande', Arial;
  font-weight: bold;
}

button.arrow:focus {
  background-color: rgb(0, 173, 239, .3);
}

.arrow span {
  display: inline-block;
  position: relative;
  left: -10px;
  -moz-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
  -o-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
  transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
}

#leftArrow:hover span {
  left: -10px;
  color: #FFF;
}

#rightArrow:hover span {
  left: 10px;
  color: #FFF;
}

button:hover svg.icon:hover {
  fill: gray;
}

.arrow:hover span svg.icon {
    fill: #FFB6C7;
}

#footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 10;
}

#footer li {
  display: inline-block;
}


/* Intro texts
	 * --------------------------------------- */

.intro {
  position: relative;
  bottom: 0px;
  text-align: center;
  width: 100%;
}

.intro h1 {
  font-size: 5em;
  font-weight: bold;
  color: #000;
}

p#about {
  text-align: left;
}

#section4 .intro {
  color: #000;
}


/* Content page
	 * --------------------------------------- */

.header {
  padding-top: 10%;
  text-align: center;
}

.header h1 {
  font-size: 5rem;
  font-weight: bold;
}

.header p {
  color: black;
  font-size: 2.1em;
  font-weight: 400;
  margin-top: 20%;
}

.page {
  width: 80%;
  margin: 60px auto;
  background: white;
  padding: 60px;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box;
}

.page p {
  font-style: 12px;
  margin: 20px 0 0 0;
  line-height: 1.35em;
  color: #333;
}

.line-1 {
  position: relative;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, .75);
  font-size: 150%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */

.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 600ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 15em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }
  to {
    border-right-color: gray;
  }
}

.content {
  height: 100%;
  text-align: left;
}

.topText {
  padding-top: 17%;
  padding-left: 5%;
}

#section2 {
  padding-top: 7%;
  padding-left: 5%;
  padding-right: 5%;
}

#section3 {
  padding-top: 2%;
  padding-right: 3%;
  padding-left: 3%;
}

div.bar {
  background: white;
  color: white;
}

.bottomText p {
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.7vw;
}

.circle {
  border-radius: 200px;
  width: 100%;
  padding-top: 10%;
  display: table;
}

.circle img {
  position: relative;
  width: 30%;
  border-radius: 50%;
  margin-left: 30%;
}

h4.text-center {
  font-weight: bold;
  margin-top: 13%;
}

span.founder {
  font-weight: 300;
}


/*  CONTACT PAGE */

#section5 h3 {
  margin-bottom: 6%;
}

label.control-label {
  text-align: left;
}

#content-label {
  font-size: small;
}


/* ---- grid ---- */

.grid {
  background: #EEE;
  max-width: 1200px;
}


/* clearfix */

.grid:after {
  content: '';
  display: block;
  clear: both;
}


/* ---- grid-item ---- */

.grid-item {
  width: 160px;
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 {
  width: 320px;
}

.grid-item--width3 {
  width: 480px;
}

.grid-item--width4 {
  width: 720px;
}

.grid-item--height2 {
  height: 200px;
}

.grid-item--height3 {
  height: 260px;
}

.grid-item--height4 {
  height: 360px;
}


/* ---- static-banner ---- */

.static-banner {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 10px 30px;
  color: white;
  background: #A2C;
  font-size: 22px;
  z-index: 2;
  /* above items */
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  display: block;
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  text-transform: uppercase;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

button.btn.btn-theme {
  background: black;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 7px;
  box-shadow: 0 5px darkslategrey;
  padding: 10px 16px 10px 16px;
}

button.btn.btn-theme:active {
  background: darkslategrey;
}

button.btn.btn-theme:disabled {
  background: darkslategrey;
  box-shadow: 0px 0px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: #FFB6C7;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 0px;
    position: absolute;
    z-index: 10;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}


/*
    CSS for sidebar icon on smaller screens
*/

span.menu {
  display: block;
  background: #566973;
  border-radius: 2px;
}

#menu-button {
  z-index: 90;
  width: 100px;
  margin: 0px 80%;
  height: 100px;
  position: relative;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

#menu-button:hover {
  background: rgba(255, 255, 255, 0.8);
}

#menu-button #hamburger {
  position: absolute;
  height: 100%;
  width: 100%;
}

#menu-button #hamburger span {
  width: 60px;
  height: 4px;
  position: relative;
  top: 24px;
  left: 20px;
  margin: 10px 0;
}

#menu-button #hamburger span:nth-child(1) {
  transition-delay: .5s;
}

#menu-button #hamburger span:nth-child(2) {
  transition-delay: .625s;
}

#menu-button #hamburger span:nth-child(3) {
  transition-delay: .75s;
}

#menu-button #cross {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
}

#menu-button #cross span:nth-child(1) {
  height: 0%;
  width: 4px;
  position: absolute;
  top: 10%;
  left: 48px;
  transition-delay: 0s;
}

#menu-button #cross span:nth-child(2) {
  width: 0%;
  height: 4px;
  position: absolute;
  left: 10%;
  top: 48px;
  transition-delay: .25s;
}

#menu-button.open #hamburger span {
  width: 0%;
}

#menu-button.open #hamburger span:nth-child(1) {
  transition-delay: 0s;
}

#menu-button.open #hamburger span:nth-child(2) {
  transition-delay: .125s;
}

#menu-button.open #hamburger span:nth-child(3) {
  transition-delay: .25s;
}

#menu-button.open #cross span:nth-child(1) {
  height: 80%;
  transition-delay: .625s;
}

#menu-button.open #cross span:nth-child(2) {
  width: 80%;
  transition-delay: .375s;
}

#altLogo {
  width: 60%;
  margin: 0px 20%;
}

.side-anchor {
  text-align: center;
}

p.message {
  margin-top: 31%;
  font-size: 2rem;
}

.newSection {
  height: 100vh;
  width: 100%;
}

div#page2 {
  height: 50%;
}

#section6 h3, h5, h6, p {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
}

.box {
  max-width: 100vw;
  line-height: 1.5;
}

.source {
  color: skyblue;
  margin: 0 auto;
}

#quote {
  -webkit-transform: translate3d(0, 0, 0);
  line-height: 36px;
  color: black;
}

span#brand {
  font-weight: 600;
  font-size: 4rem;
}

.float {
  margin: 20% 0;
  animation: levitate 1.2s alternate ease-in-out infinite;
}

@keyframes levitate {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 20px);
  }
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.scrolldown-container {
  width: 6rem;
  position: absolute;
  background: #FCB6C7;
  height: 5rem;
  border-radius: 40px;
  right: 0;
  margin: 0px auto;
}

div#arkscroll {
  top: 29%;
  left: 10;
}

div#homescroll {
    top: 17%;
    left: 10;
}

.scrolldown-container .scrolldown-btn {
  width: 2rem;
  height: 5rem;
  position: absolute;
  left: 50%;
  top: 30%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.scrolldown-container .scrolldown-btn svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.scrolldown-container .scrolldown-btn svg path.first-path {
  animation: scrollanim 1s ease-in-out infinite;
  animation-delay: 0.8s;
}

.scrolldown-container .scrolldown-btn svg path.second-path {
  animation: scrollanim2 1s ease-in-out infinite;
}

@-webkit-keyframes scrollanim {
  0% {
    -webkit-transform: translate(0, -40px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translate(0, 0);
    opacity: 0.8;
  }
}

@-moz-keyframes scrollanim {
  0% {
    -moz-transform: translate(0, -40px);
    opacity: 0;
  }
  60% {
    -moz-transform: translate(0, 0);
    opacity: 0.8;
  }
}

@keyframes scrollanim {
  0% {
    -webkit-transform: translate(0, -40px);
    -moz-transform: translate(0, -40px);
    -ms-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    transform: translate(0, -40px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0.8;
  }
}

@-webkit-keyframes scrollanim2 {
  0% {
    -webkit-transform: translate(0, -40px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translate(0, 0px);
    opacity: 0.6;
  }
}

@-moz-keyframes scrollanim2 {
  0% {
    -moz-transform: translate(0, -40px);
    opacity: 0;
  }
  60% {
    -moz-transform: translate(0, 0px);
    opacity: 0.6;
  }
}

@keyframes scrollanim2 {
  0% {
    -webkit-transform: translate(0, -40px);
    -moz-transform: translate(0, -40px);
    -ms-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    transform: translate(0, -40px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
    opacity: 0.6;
  }
}

#section6 button {
  background: none;
  border: 2px solid;
  font: inherit;
  border-radius: 10px;
  line-height: 1;
  padding: 1em 2em;
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

#section6 button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}

.fill:hover, .fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.fill {
  --color: black;
  --hover: #FFB6C7;
}


/*// Small screens*/

@media only screen {
  /* Define mobile styles */
  button#rightArrow {
    right: -10px;
    width: 53px;
  }
  button#leftArrow {
    left: -10px;
    width: 53px;
  }
  #rightArrow span {
    left: 0px;
  }
  #leftArrow span {
    left: 0px;
  }
  #section1, #section2, #section3 {
    background-image: none;
  }
  ul#menu li {
    display: none;
  }
  div#page-content-wrapper {
    display: block;
  }
  #footer {
    background-color: #fff;
  }
  #footer .row div ul {
    padding-left: 0;
  }
   #menu-button {
    margin: -10% 70%;
  }
  #menu-button #cross {
    position: absolute;
    height: 50%;
    width: 50%;
    transform: rotate(45deg);
  }
  #menu-button #cross span:nth-child(1) {
    height: 0%;
    width: 2px;
    position: absolute;
    top: 10%;
    left: 80px;
    transition-delay: 0s;
  }
  #menu-button #cross span:nth-child(2) {
    width: 0%;
    height: 2px;
    position: absolute;
    left: 60px;
    top: 25px;
    transition-delay: .25s;
  }
  #menu-button #hamburger span {
    width: 30px;
    height: 2px;
    position: relative;
    top: 24px;
    left: 50px;
    margin: 10px 0;
  }

}

#menu-button #cross span:nth-child(1) {
  width: 2px;
  left: 80px;
}

#menu-button #cross span:nth-child(2) {
  height: 2px;
  left: 60px;
  top: 25px;
}

#menu-button #hamburger span {
  width: 30px;
  height: 2px;
  left: 50px;
}

@media only screen and (max-width: 40em) {
  .header h1 {
    margin-top: 25%;
  }
  .line-1 {
    font-size: 1.4em;
  }
  button#rightArrow {
    width: 50px;
  }
  button#leftArrow {
    width: 50px;
  }
  .circle {
    padding-top: 5%;
  }
  #section1, #section2, #section3 {
    background-image: none;
  }
  ul#menu li {
    display: none;
  }
  div#page-content-wrapper {
    display: block;
  }
  #footer .row div ul {
    padding-left: 0;
  }
  /* max-width 640px, mobile-only styles, use when QAing mobile issues */
}


/*// Medium screens*/

@media only screen and (min-width: 40.063em) {
  button#rightArrow {
    width: 100px;
  }
  button#leftArrow {
    width: 100px;
  }
  h1 .line1 .anim-typewriter {
    font-size: 1em;
  }
  #section1, #section2, #section3 {
    background-image: none;
  }
  ul#menu li {
    display: none;
  }
  div#page-content-wrapper {
    display: block;
  }
  /* min-width 641px, medium screens */
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  #section1, #section2, #section3 {
    background-image: none;
  }
  ul#menu li {
    display: none;
  }
  div#page-content-wrapper {
    display: block;
  }
  button#rightArrow {
    width: 100px;
  }
  button#leftArrow {
    width: 100px;;
  }
  #menu-button {
    margin: 0% 80%;
  }
}


/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */


/**/


/*// Large screens*/

@media only screen and (min-width: 64.063em) {
  #section1, #section2, #section3 {}
  ul#menu li {
    display: inline-block;
  }
  button#rightArrow {
    width: 100px;
  }
  button#leftArrow {
    width: 100px;
  }
  div#page-content-wrapper {
    display: none;
  }
}


/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  #section1, #section2, #section3 {}
  ul#menu li {
    display: inline-block;
  }
  button#rightArrow {
    width: 100px;
  }
  button#leftArrow {
    width: 100px;
  }
  div#page-content-wrapper {
    display: none;
  }
}


/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */


/*// XLarge screens*/

@media only screen and (min-width: 90.063em) {
  #section1, #section2, #section3 {}
  ul#menu li {
    display: inline-block;
  }
  div#page-content-wrapper {
    display: none;
  }
  button#rightArrow {
    width: 100px;
  }
  button#leftArrow {
    width: 100px;
  }
}


/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  #section1, #section2, #section3 {}
  ul#menu li {
    display: inline-block;
  }
  button#rightArrow {
    width: 100px;
  }
  button#leftArrow {
    width: 100px;
  }
  div#page-content-wrapper {
    display: none;
  }
}


/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */


/*// XXLarge screens*/

@media only screen and (min-width: 120.063em) {
  #section1, #section2, #section3 {}
  ul#menu li {
    display: inline-block;
  }
  div#page-content-wrapper {
    display: none;
  }
  button#rightArrow {
    width: 100px;
  }
  button#leftArrow {
    width: 100px;
  }
}
