<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Admin</title>
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/admin.css">
  <link rel="stylesheet" type="text/css" href="/lib/font-awesome/css/font-awesome.css">
</head>
<style>
  @import url('https://fonts.googleapis.com/css?family=EB+Garamond|Play');
</style>

<body>
  <h1>Hello <%=username%></h1>
  <h4>Edit Content</h4>
  <div class="row" id="edit">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 edit-section">
      <i class="fa fa-pencil-square-o fa-3x"></i>
      <div class="text">
        <h6>Edit About Page</h6>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 edit-section">
      <a href="/admin/profile/about"><i class="fa fa-pencil-square-o fa-3x"></i></a>
      <div class="text">
        <h6>Edit Portfolio</h6>
      </div>
    </div>
  </div>
</body>

</html>
