<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>TheMachine</title>
  <meta name="author" content="Michael Olie" />
  <meta name="description" content="Website for TheMachine" />
  <meta name="keywords" content="the,machine,themachine,michael,olie,marketing,talent,finder,los angeles" />
  <meta name="Resource-type" content="Document" />
  <script src="https://player.vimeo.com/api/player.js"></script>
  <link rel="stylesheet" type="text/css" href="/lib/pagePiling.js/jquery.pagepiling.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/sidebar.css">
</head>

<body>
  <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#">
            <img src="/images/machinelogowhite.png" id="altLogo" alt="Logo for the Machine">
          </a>
        </li>
        <li data-menuanchor="page1" class="side-anchor" style="margin-top: 50%;"><a href="#page1">Home</a></li>
        <li data-menuanchor="page2" class="side-anchor"><a href="#page2">About</a></li>
        <li data-menuanchor="page3" class="side-anchor"><a href="#page3">Founders</a></li>
        <li data-menuanchor="page4" class="side-anchor"><a href="#page4">Portfolio</a></li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <a href="#menu-toggle" id="menu-toggle">
        <div id="menu-button">
          <div id="hamburger">
            <span class="menu"></span>
            <span class="menu"></span>
            <span class="menu"></span>
          </div>
          <div id="cross">
            <span class="menu"></span>
            <span class="menu"></span>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

  <ul id="menu">
    <a href="#page1"><img src="/images/machinelogo.png" alt="Logo for the Machine"></a>
    <li data-menuanchor="page1" class="active"><a href="#page1" style="padding-left:10%">Home</a></li>
    <li data-menuanchor="page2"><a href="#page2">About</a></li>
    <li data-menuanchor="page3"><a href="#page3">Founders</a></li>
    <li data-menuanchor="page4"><a href="#page4">Portfolio</a></li>
  </ul>
  <!-- Page Content -->
  <!-- /#page-content-wrapper -->
  <div class="container">
    <button class="arrow" id="rightArrow"><span>&#8594;</span></button>
    <button class="arrow" id="leftArrow"><span>&#8592;</span></button>
  </div>

  <div id="pagepiling">
    <div class="section" id="section1">
      <iframe src="https://player.vimeo.com/video/147170777" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <div class="layer">
        <h1 class="line-1 anim-typewriter">Welcome To TheMachine</h1>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <p class="text-center" style="margin: 0px 16%;">Lorem Khaled Ipsum is a major key to success. You see that bamboo behind me though, you see that bamboo? Ain’t nothin’ like bamboo. Bless up. Wraith talk. We the best. Give thanks to the most high. You should never complain, complaining is a
            weak emotion, you got life, we breathing, we blessed. Special cloth alert. Hammock talk come soon. The key to more success is to have a lot of pillows. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky
            clean. Cloth talk.</p>
        </div>
      </div>
    </div>
    <div class="section" id="section2">
      <div class="content">
        <div class="topText">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
              <h1>About TheMachine</h1>
              <p>A Management and Production firm focused on emerging talent, technologies and platforms.</p>
            </div>
          </div>
        </div>
        <div class="bottomText">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <p>Lorem Khaled Ipsum is a major key to success. You see that bamboo behind me though, you see that bamboo? Ain’t nothin’ like bamboo. Bless up. Wraith talk. We the best. Give thanks to the most high. You should never complain, complaining
                is a weak emotion, you got life, we breathing, we blessed. Special cloth alert. Hammock talk come soon. The key to more success is to have a lot of pillows. It’s on you how you want to live your life. Everyone has a choice. I pick my choice,
                squeaky clean. Cloth talk.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <p>Lorem Khaled Ipsum is a major key to success. You see that bamboo behind me though, you see that bamboo? Ain’t nothin’ like bamboo. Bless up. Wraith talk. We the best. Give thanks to the most high. You should never complain, complaining
                is a weak emotion, you got life, we breathing, we blessed. Special cloth alert. Hammock talk come soon. The key to more success is to have a lot of pillows. It’s on you how you want to live your life. Everyone has a choice. I pick my choice,
                squeaky clean. Cloth talk.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="section3">
      <div class="content">
        <div class="topText">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
              <h1>Founders</h1>
              <p>A Management and Production firm focused on emerging talent, technologies and platforms.</p>
            </div>
          </div>
        </div>
        <div class="bottomText">
          <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="circle">
                <img src="/images/heads/KevinHerrera_Head.png" alt="">
              </div>
              <h4 class="text-center">KEVIN HERRERA | CEO</h4>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="circle">
                <img src="/images/heads/AaronJudovits_Head.png" alt="">
              </div>
              <h4 class="text-center">AARON JUDOVITS | CFO</h4>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="circle">
                <img src="/images/heads/RawnErickson_Head.png" alt="">
              </div>
              <h4 class="text-center">RAWN ERICKSON, II | PRESIDENT</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section pp-scrollable" id="section4">
      <div class="content">
        <div class="header">
          <h1>Our Portfolio</h1>

          <p>Scroll Down to view our previous works</p>
        </div>
        <div class="page">
          <div class="grid">
            <div class="grid-item"></div>
            <div class="grid-item grid-item--width2 grid-item--height2"></div>
            <div class="grid-item grid-item--height3"></div>
            <div class="grid-item grid-item--height2"></div>
            <div class="grid-item grid-item--width3"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item grid-item--height2"></div>
            <div class="grid-item grid-item--width2 grid-item--height3"></div>
            <div class="grid-item"></div>
            <div class="grid-item grid-item--height2"></div>
            <div class="grid-item"></div>
            <div class="grid-item grid-item--width2 grid-item--height2"></div>
            <div class="grid-item grid-item--width2"></div>
            <div class="grid-item"></div>
            <div class="grid-item grid-item--height2"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item grid-item--height3"></div>
            <div class="grid-item grid-item--height2"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item grid-item--height2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="/lib/pagePiling.js/jquery.pagepiling.js"></script>
  <script type="text/javascript" src="/js/masonry.js"></script>
  <script type="text/javascript" src="/js/machine.js"></script>
  <script type="text/javascript" src="/js/popper.js"></script>
  <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
    $('#menu-button').click(function() {
      $(this).toggleClass('open');
    });
  </script>
</body>

</html>
