<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The MACHINE</title>
  <meta name="author" content="Alvaro Trigo Lopez" />
  <meta name="description" content="pagePiling.js plugin by Alvaro Trigo." />
  <meta name="keywords" content="pile,piling,piling.js,stack,pages,scrolling,stacking,touch,fullpile,scroll,plugin,jquery" />
  <meta name="Resource-type" content="Document" />

  <link rel="stylesheet" type="text/css" href="/lib/pagePiling.js/jquery.pagepiling.css">
  <link rel="stylesheet" href="/css/styles.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

  <script src="/lib/pagePiling.js/jquery.pagepiling.js"></script>
  <script type="text/javascript">
    var deleteLog = false;

    $(document).ready(function() {
      $('#pagepiling').pagepiling({
        menu: '#menu',
        anchors: ['page1', 'page2', 'page3'],
        navigation: {
          'textColor': '#f2f2f2',
          'bulletsColor': '#ccc',
          'position': 'right',
          'tooltips': ['Home', 'About', 'Contact', 'Portfolio']
        },
        onLeave: function(index, nextIndex, direction) {

          //fading out the txt of the leaving section
          $('.section').eq(index - 1).find('h1, p').fadeOut(700, 'easeInQuart');

          //fading in the text of the destination (in case it was fadedOut)
          $('.section').eq(nextIndex - 1).find('h1, p').fadeIn(700, 'easeInQuart');


          //reaching our last section? The one with our normal site?
          if (nextIndex == 4) {
            $('#arrow').hide();

            //fading out navigation bullets
            $('#pp-nav').fadeOut();

            $('#section4').find('.content').animate({
              top: '0%'
            }, 700, 'easeInQuart');
          }

          //leaving our last section? The one with our normal site?
          if (index == 4) {
            $('#arrow').show();

            //fadding in navigation bullets
            $('#pp-nav').fadeIn();

            $('#section4 .content').animate({
              top: '100%'
            }, 700, 'easeInQuart');
          }
        },
        afterRender: function() {
          //playing the video
          $('video').get(0).play();
        }
      });
      $('#arrow').click(function() {
        $.fn.pagepiling.moveSectionDown();
      });
    });
  </script>
  <style>
    /* Centered texts in each section
		* --------------------------------------- */

    .section {
      text-align: center;
    }

    #myVideo {
      position: absolute;
      z-index: 4;
      right: 0;
      bottom: 0;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      background-color: black;
      /* in case the video doesn't fit the whole page*/
      background-image: /* our video */
      ;
      background-position: center center;
      background-size: contain;
      object-fit: cover;
      /*cover video background */
    }
    /* Layer with position absolute in order to have it over the video
		* --------------------------------------- */

    #section1 .layer {
      position: absolute;
      z-index: 5;
      width: 100%;
      left: 0;
      top: 43%;
      height: 100%;
    }

    #section1 h1 {
      color: #fff;
    }

    #infoMenu li a {
      color: #fff;
    }
  </style>
</head>

<body>
  <ul id="menu">
    <a href="#page1"><img src="/images/machinelogo.png" alt="Logo for the Machine"></a>
    <li data-menuanchor="page1" class="active"><a href="#page1">Home</a></li>
    <li data-menuanchor="page2"><a href="#page2">About</a></li>
    <li data-menuanchor="page3"><a href="#page3">Contact</a></li>
    <li data-menuanchor="page4"><a href="#page4">Portfolio</a></li>
  </ul>

  <button id="arrow">	<span>↓</span></button>

  <div id="pagepiling">
    <div class="section" id="section1">
      <video autoplay loop muted id="myVideo">
				<source src="/imgs/flowers.mp4" type="video/mp4">
				<source src="/imgs/flowers.webm" type="video/webm">
			</video>
      <div class="layer">
        <h1 class="line-1 anim-typewriter">Welcome To The Machine</h1>
      </div>
    </div>
    <div class="section" id="section2">
      <div class="intro">
        <h1>Nike Making.</h1>

        <p>Inspiring the creative community to make sustainable design choices.</p>
      </div>
    </div>
    <div class="section" id="section3">
      <div class="intro">
        <h1>Floored.</h1>

        <p>Clean, modern, and fast. Introducing the new Lexus.com.</p>
      </div>
    </div>
    <div class="section pp-scrollable" id="section4">
      <div class="content">
        <div class="header">
          <h1>pagePiling.js</h1>

          <p>Pile your sections one over another and access them scrolling or by URL!</p>
        </div>
        <div class="page">
          <p>Eos ex tale consul phaedrum. Ex mel enim delectus. An stet vide copiosae mei. Ne ferri oportere accusamus sit, eum an stet solet. Ex maiestatis dissentiet eum. An pro recteque intellegam, eum convenire contentiones te. Cum id nobis mediocritatem.
            Brute dicta putent no vel. Pro ad verear eripuit vituperatoribus. Vim ad utamur accusata recteque, an cum iriure scriptorem. Ei suas democritum sed, ceteros omittam eos et. Case eius ne vix, duo ne autem saperet insolens, mel posse aperiam
            labores no. Alienum accusamus an est. Qui iudicabit intellegat percipitur in, est in agam fugit assueverit. Pro cu mazim oporteat, soluta vituperata instructior mei ea, an vix sonet vocent laboramus. Vis vocent ocurreret ad. Congue causae
            iisque no mei, vim fastidii platonem iracundia ei, detraxit sadipscing usu eu. Est ei sonet tempor dicunt. In tota regione blandit sea, at nec numquam dissentias, eu sit sapientem evertitur. Suas mediocrem incorrupte vel ei, intellegebat reprehendunt
            eum ad.</p>
          <p>Probo latine iudicabit ad quo, nec adhuc nonumy adipiscing ea. Pro labore recusabo at. Tamquam electram constituam ut vel, assum omnes te ius. An mea illum petentium salutatus, vix et erat sapientem comprehensam. Movet tacimates ut mei, id sea
            minim graeco antiopam, te solet melius tibique his. Dicam graecis volumus has te. Amet affert menandri ex has. Per ei malis legendos principes, et duo movet deterruisset. Et cum possim vivendo, no mea animal saperet disputando. Ex legere facilisis
            mei. Quo primis everti disputando at, nam ut quis copiosae. Salutatus forensibus in qui. Ut usu zril referrentur, consequat vulputate intellegat sed cu. Est at imperdiet reprehendunt. Singulis mnesarchum contentiones eos an, ex mea stet vocibus.
            Recteque inciderint nec et. Eam at putent disputando, ad summo aperiri philosophia quo, natum mundi malorum te cum. Id modus aliquid definitiones est.</p>
          <p>Ex sint percipitur pro, dolor mentitum sea an. Vel simul alienum ex, vim debitis antiopam id. Ponderum luptatum te eum. Idque dicant theophrastus ea pri. Eum hinc choro ut, et qui habemus iracundia similique. Mei numquam platonem definitiones
            id. Per at nusquam vivendum suscipiantur, te mei nibh offendit singulis. Aperiri recusabo persequeris duo cu. Ex justo rationibus complectitur cum. Ad mucius salutatus mnesarchum mei, et dicit probatus similique qui. Malis vivendum consequuntur
            id sed. Vix ei fuisset perpetua, partem audire pericula nec no. Partem putant philosophia id est. Et vel nibh munere, vis numquam nusquam forensibus ad, in mazim mundi vitae eam. Ea usu exerci audire intellegam. Sit iuvaret corrumpit laboramus
            cu, autem mazim ea sed, sit tacimates elaboraret ut.</p>
          <p>Eos ex tale consul phaedrum. Ex mel enim delectus. An stet vide copiosae mei. Ne ferri oportere accusamus sit, eum an stet solet. Ex maiestatis dissentiet eum. An pro recteque intellegam, eum convenire contentiones te. Cum id nobis mediocritatem.
            Brute dicta putent no vel. Pro ad verear eripuit vituperatoribus. Vim ad utamur accusata recteque, an cum iriure scriptorem. Ei suas democritum sed, ceteros omittam eos et. Case eius ne vix, duo ne autem saperet insolens, mel posse aperiam
            labores no. Alienum accusamus an est. Qui iudicabit intellegat percipitur in, est in agam fugit assueverit. Pro cu mazim oporteat, soluta vituperata instructior mei ea, an vix sonet vocent laboramus. Vis vocent ocurreret ad. Congue causae
            iisque no mei, vim fastidii platonem iracundia ei, detraxit sadipscing usu eu. Est ei sonet tempor dicunt. In tota regione blandit sea, at nec numquam dissentias, eu sit sapientem evertitur. Suas mediocrem incorrupte vel ei, intellegebat reprehendunt
            eum ad. Probo latine iudicabit ad quo, nec adhuc nonumy adipiscing ea. Pro labore recusabo at. Tamquam electram constituam ut vel, assum omnes te ius. An mea illum petentium salutatus, vix et erat sapientem comprehensam. Movet tacimates ut
            mei, id sea minim graeco antiopam, te solet melius tibique his. Dicam graecis volumus has te. Amet affert menandri ex has. Per ei malis legendos principes, et duo movet deterruisset. Et cum possim vivendo, no mea animal saperet disputando.
            Ex legere facilisis mei. Quo primis everti disputando at, nam ut quis copiosae. Salutatus forensibus in qui. Ut usu zril referrentur, consequat vulputate intellegat sed cu. Est at imperdiet reprehendunt. Singulis mnesarchum contentiones eos
            an, ex mea stet vocibus. Recteque inciderint nec et. Eam at putent disputando, ad summo aperiri philosophia quo, natum mundi malorum te cum. Id modus aliquid definitiones est. Ex sint percipitur pro, dolor mentitum sea an. Vel simul alienum
            ex, vim debitis antiopam id. Ponderum luptatum te eum. Idque dicant theophrastus ea pri. Eum hinc choro ut, et qui habemus iracundia similique. Mei numquam platonem definitiones id. Per at nusquam vivendum suscipiantur, te mei nibh offendit
            singulis. Aperiri recusabo persequeris duo cu. Ex justo rationibus complectitur cum. Ad mucius salutatus mnesarchum mei, et dicit probatus similique qui. Malis vivendum consequuntur id sed. Vix ei fuisset perpetua, partem audire pericula nec
            no. Partem putant philosophia id est. Et vel nibh munere, vis numquam nusquam forensibus ad, in mazim mundi vitae eam. Ea usu exerci audire intellegam. Sit iuvaret corrumpit laboramus cu, autem mazim ea sed, sit tacimates elaboraret ut.</p>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
